.env

# Virtuální prostředí
venv/
.venv/

node_modules/

# SvelteKit, Vite
.svelte-kit/
build/
dist/

# Logy
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.eslintcache
__pycache__

# --- IDE / Editory ---
# VS Code (nechceme uživatelská nastavení, ale chceme sdílet `launch.json`)
.vscode/settings.json
.vscode/tasks.json
.vscode/.user/
