# backend/requirements.txt

# --- Web Framework ---
fastapi

# --- ASGI Server ---
uvicorn[standard]
gunicorn

# --- Databáze & ORM ---
sqlalchemy
alembic
psycopg2-binary
pgvector

# --- Ostatní ---
python-dotenv

# --- LangChain & AI ---
langchain==0.3.7
langchain-google-genai==2.0.5
langchain-core==0.3.15
pydantic==2.9.2

# --- Web Scraping ---
playwright==1.49.0
trafilatura
lxml_html_clean

# --- Google AI ---
google-generativeai

# --- Development ---
debugpy